<nav class="navbar">
  <!-- Left -->
  <div class="left">
    <h2 class="logo">CINE<span>ATEUR</span></h2>

    <a routerLink="/movies" routerLinkActive="active">Movies</a>
    <a href="#">Cinemas</a>
    <a href="#">Deals</a>
  </div>

  <!-- Right -->
  <div class="right">
    <!-- Search -->
    <div class="search">
      <input type="text" placeholder="Search films, directors..." />
      <span>🔍</span>
    </div>

    <!-- Icons -->
    <div class="icons">
      <span>🔔</span>
      <span>🎟</span>
      <span class="avatar">👤</span>
    </div>
  </div>
</nav>
