.footer {
  background: #0d0d0d;
  color: #ccc;
  padding: 40px 20px 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.footer-section {
  max-width: 250px;
}

.logo {
  color: #ff4d4d;
}

h3 {
  margin-bottom: 10px;
  color: white;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 8px;
}

a {
  color: #ccc;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: #ff4d4d;
}

.socials span {
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.footer-bottom {
  border-top: 1px solid #222;
  margin-top: 20px;
  padding-top: 15px;
  text-align: center;
  font-size: 14px;
}
